[2014-10-25 20:07] 3lvis opened #3 "Test decimal/float/double types"

[2014-10-25 20:08] 3lvis opened #4 "Ignore transformable/data types"

[2014-10-26 07:13] 3lvis opened #7 "Handle acronyms"
- ID
- PDF
- URL

[2014-10-26 07:52] 3lvis opened #9 "Have a proper way to set values"
[code]

[2014-10-26 07:57] 3lvis opened #10 "Would be great if we could auto parse child relationships if they are included in the original JSON"

[2014-10-26 08:57] 3lvis opened #11 "Acronym between two letters breaks mapping"
[code]
Expected result:

`[@"userIDFirst" remoteString] => user_id_first`

Current result:

`[@"userIDFirst" remoteString] => user_idfirst `

[2014-10-29 00:22] #7 closed, assigned to nobody

[2014-10-29 00:29] 3lvis opened #12 "Handle URL types"
If imageURL is in Core Data as URL, it should parse the string and make a NSURL

[2014-10-29 07:00] 3lvis opened #13 "Add support for diff-ing an object using updated date"

[2014-10-31 20:25] #13 closed, assigned to nobody

[2014-10-31 20:26] #10 closed, assigned to nobody

[2014-11-02 01:34] 3lvis opened #15 "Core Data doesn't allow to have fields with `ID` (uppercase), so better do something about it"

[2014-11-02 09:15] #15 closed, assigned to nobody

[2014-11-03 13:27] 3lvis opened #17 "id = modelNameID, type = modelNameType, description = modelNameDescription"
- id = contractID
- type = contractType
- description = contractDescription

http://lists.apple.com/archives/cocoa-dev/2007/Nov/msg00412.html

font and color are other candidates

[2014-11-09 12:34] #17 closed, assigned to nobody

[2014-11-09 12:35] #9 closed, assigned to nobody

[2014-11-09 12:36] 3lvis opened #19 "created_at to createdDate"
(anything _at could go to Date)

[2014-11-10 00:43] #19 closed, assigned to nobody

[2014-11-10 08:04] 3lvis opened #21 "Other date (and time) possible exceptions"
`unpublished_at`
`published_at`
`deleted_at`

Check for
`birthdate`
`hourly_pay_entry_date`

[2014-11-10 19:46] NSElvis opened #22 "Support custom remoteKeys in Core Data Model"
So I'm thinking in supporting having a key like

`mapper.remote.key` = `displayed_at` in the Core Data model User Info and we will respect that mapping.

![screen shot 2014-11-10 at 8 45 10 pm](https://cloud.githubusercontent.com/assets/1088217/4982355/1c317a4a-6912-11e4-8cd5-7da51e0c8a51.png)

[2014-12-16 19:19] zenangst opened #27 "Update README with flattened examples"

[2014-12-16 20:45] 3lvis opened #28 "Add support for to-one relationships"
[code]

[2014-12-19 15:01] #21 closed, assigned to nobody

[2014-12-19 15:02] #3 closed, assigned to nobody

[2015-01-29 18:04] zenangst opened #39 "Locale aware NSNumberFormatter"
https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/blob/b1430dbc9e96d177cad6d1d9016bdd1069ed949c/Source/NSManagedObject%2BHYPPropertyMapper.m#L118

[2015-02-16 21:10] NSElvis commented on #28
I opted to fix this on Kipu.

https://github.com/NSElvis/Kipu/blob/master/Source/Kipu.m#L213

[2015-02-19 09:25] NSElvis commented on #22
Example of what we want to achieve

Local key: `createdDate`
Remote key: `created_at`

![screen shot 2015-02-19 at 10 24 27 am](https://cloud.githubusercontent.com/assets/1088217/6264195/8e8c2276-b821-11e4-9626-cb6c3c4958b6.png)

[2015-02-19 09:31] NSElvis commented on #22
There are other things that we could do in the future, so far they are just ideas.

- [ ] Set a custom primary key (instead of `remoteID`)
- [ ] Map attributes to more complex structures, for example if your JSON object contains the next structure, you could set `mapper.remote.key` => `photo.url`, this will map the structure and set it to your `imageURL` attribute

[code]

[2015-02-27 09:28] NSElvis commented on #22
Fixed

[2015-02-27 09:28] #22 closed

[2015-02-27 09:30] NSElvis commented on #22
Will make separate issues for

https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/issues/22#issuecomment-75021152

[2015-02-27 09:34] 3lvis opened #43 "Document custom remote key mappers properly"
The idea is to add => https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/issues/22

To the documentation

[2015-02-27 09:35] NSElvis commented on #27
I'll see if we can add this one to property mapper, would make a lot of sense.

[2015-02-27 09:36] #27 closed

[2015-02-27 09:36] NSElvis commented on #28
I'll see if we can add this one to property mapper, would make a lot of sense.

[2015-02-27 13:58] kostiakoval opened #44 "Support for code tables"
I want to have custom type mapping. From String to Int,

Example:
I want this object to maps

[code]

"Company" -> 0
"Region" -> 1

I think the mapping logic should be implemented by users, in the callback fuction or some params

[2015-02-27 14:03] NSElvis commented on #44
@kostiakoval: I've had this use case before, I think the structure is called `code tables`.

I guess the proper structure for this would be

[code]

Right?

[2015-03-24 23:12] RamonGilabert opened #46 "Add mapping for arrays as data"
We could add support in three lines of code to store arrays into core data. Sometimes it can make more sense not to have a relation but to store an array, that way just adding the property as NSData could make the work. :)

[2015-03-25 06:49] NSElvis commented on #46
One thing that could use this is `tags` they are usually an array of `strings` inside an entity.

They don't need a relationship for that.

+1 for this feature

[2015-03-25 06:58] RamonGilabert commented on #46
I'll implemented today afternoon then! :P

[2015-03-25 07:26] kostiakoval commented on #46
We need this functionality in Sync as well in Nokkeltal project

[2015-03-25 07:45] zenangst commented on #46
![giphy-25](https://cloud.githubusercontent.com/assets/57446/6820050/44820c6c-d2cb-11e4-8018-74483e8ba089.gif)

[2015-03-25 08:28] kostiakoval commented on #46
@zenangst Man, your gifs are amazing. Made my Smile :D

[2015-03-25 19:17] RamonGilabert commented on #46
This was fixed in #47! :dancer: :D

[2015-03-25 19:17] #46 closed

[2015-03-25 19:18] zenangst commented on #46
@RamonGilabert now you get :cake:

[2015-03-25 19:19] NSElvis commented on #46
I think this also allows to support `NSDictionaries`

[2015-03-25 19:21] RamonGilabert commented on #46
It does!

[2015-03-27 06:59] NSElvis commented on #44
I really like this idea, we've had a similar requirement in our project, we ended un handling it "internally".

[2015-03-27 07:00] NSElvis opened #51 "Support custom primary keys"
At the moment we are using `id` for a primary key but that's not the case for all the backends.

The idea is to support something like the custom mappers =>https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/releases/tag/2.9

`mapper.remote.key` => `YES` (makes the selected attribute a remote primary key, replacing `id`)
`mapper.local.key` => `YES` (makes the selected attribute a local

[2015-03-27 07:01] 3lvis opened #52 "Add support for custom mapping in relationships"
At the moment we are only supporting custom mapping for attributes.

The idea is to support relationships too =>https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/releases/tag/2.9

[2015-03-28 13:16] #51 closed

[2015-03-28 13:16] NSElvis commented on #51
This doesn't apply here, a change like this doesn't affect property mapper in any way

[2015-03-31 17:30] RamonGilabert commented on #52
I tried something! :o #54

[2015-03-31 18:12] RamonGilabert commented on #4
#55! :cactus:

[2015-03-31 19:14] #4 closed

[2015-03-31 19:56] 3lvis commented on #52
I wonder if this is a `Sync` related issue more than property mapper.

The idea was that you could have a custom relationship.

In Sync if you send a JSON:
[code]

This will map the user notes with the `notes` relationship, but if in the JSON `notes` were called `annotations` then this wouldn't work since the app will try to map to `notes` (the Core Data relationship)

[2015-03-31 19:57] 3lvis commented on #52
@kostiakoval Might have a more specific use case. It looks like this should go into Sync

[2015-04-01 17:41] #52 closed

[2015-04-02 17:24] RamonGilabert commented on #43
We could say the documentation has been added right? :D

[2015-04-02 20:39] 3lvis commented on #43
Yes!

[2015-04-02 20:39] #43 closed

[2015-04-02 21:02] 3lvis commented on #11
Fixed on NSString-HYPNetworking 0.3.0

https://github.com/hyperoslo/NSString-HYPNetworking/releases/tag/0.3.0

Thanks @RamonGilabert  !!!

[2015-04-02 21:02] #11 closed

[2015-04-02 21:03] 3lvis commented on #12
Just found that you can't select `URL` in Core Data, we could do it using transformable type, but at the moment that's not needed.

[2015-04-02 21:03] #12 closed

[2015-04-02 21:04] 3lvis commented on #39
This problem is related to using `,` and `.` when parsing strings as numbers. PropertyMapper should be smart enough to understand both.

[2015-04-06 22:54] 3lvis commented on #44
I think the ideal thing would be adding `hyper.codeTable` to User Info in the `organizationType` attribute.

![screen shot 2015-04-07 at 12 47 51 am](https://cloud.githubusercontent.com/assets/1088217/7014035/c88d375e-dcbf-11e4-96d1-db07e1c262c3.png)

Value: `0:"Company", 1:"Region", 2:"Country", 4:"Continent"`

When running `mogenerator` this will generate something like this:

[code]

When filli

[2015-04-07 05:50] kostiakoval commented on #44
sounds good. only 1 think I don't like specifying those attributes in CoreData Info, it's quite hard and not convenient.

Why should you make those limitation (if the value is a string)
if code table existing just map them.
[COMPANY_PREFIX][VALUE][ATTRIBUTE_NAME]  - I'm not sure I get this one but general ides is very good.

[2015-04-07 06:57] 3lvis commented on #44
@kostiakoval Do you have an alternative? I proposed this because in this way is easy to read it by both mogenerator and Sync/PropertyMapper.

[code]

[2015-04-18 22:55] 3lvis commented on #28
You can easily use Sync for this

https://github.com/hyperoslo/Sync/blob/master/Source/Sync.h#L17

[2015-04-18 22:55] #28 closed

[2015-04-22 08:44] 3lvis opened #60 "Support date strings without timestamp"
"1990-01-20" should become 20 of January, 1990 at 00:00.

[2015-04-22 08:45] zenangst commented on #60
@fespinoza seems correct? Is it the right format?

[2015-04-22 08:56] fespinoza commented on #60
exactly `YYYY-MM-DD`

[2015-04-22 08:59] kostiakoval commented on #60
what standard is that , ISO?

[2015-04-23 08:11] 3lvis commented on #60
Fixed on 3.0.3 https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/releases

[2015-04-23 08:11] #60 closed

[2015-04-24 09:34] 3lvis opened #64 "Feature request: Depth mapping"
I've been thinking on supporting mapping depth entities like the one in your example but haven't got around into doing it.

For example if you had the following JSON:
[code]

Mapping the contents of `just_a_hint` to `input_configuration` could be done by adding the following key to the user info of your attribute:

[code]

And then when you want to make the JSON representation of your element:

[c

[2015-04-24 14:22] 3lvis commented on #64
Would it support having multiple entries in the dictionary?  For example:

[code]

[2015-04-30 11:42] attila-at-hyper opened #65 "Crash at app startup (initial sync?)"
Happens 8 of 10 app starts.

2015-04-30 13:33:18.580  beta[35225:2353580] *** Terminating app due to uncaught exception 'NSObjectInaccessibleException', reason: 'CoreData could not fulfill a fault for '0xd000000001580002 x-coredata://BCE5A740-F5EA-4FFE-9126-C0C2C5635821/WeekNumberSet/p86''
*** First throw call stack:
(
0 CoreFoundation 0x000000010d0e0c65 __exceptionPreprocess + 165
1 libobjc.A.dyl

[2015-04-30 11:47] 3lvis commented on #65
This is usually related to the method been called more than once. So the object gets removed from one thread and accessed from other one.

Can you make sure you're calling the method once?

[2015-04-30 11:50] 3lvis commented on #65
Please make sure to not call the method while other one is in progress. Let me know if this didn't fixed your issue and I will reopen this.

:dancers:

[2015-04-30 11:50] #65 closed

[2015-05-27 17:57] altyus opened #66 "Document expected time format in README and/or header"
Would be useful for library users to have guidance on what types of date strings can be mapped without modifying the library.  It would be even more useful if users could pass in their own date formatter, in cases where API's aren't using iso8601.  For example: my date string from a Django Rest Framework backed api is "2015-05-27T13:51:41.971000-0400".  This is silently returning nil in `+ (NSDate

[2015-05-27 21:48] 3lvis commented on #66
Hi Al,

We went for just supporting ISO8601 out of the box because that's the most common format when parsing dates, also we have a [quite performant way to parse this strings](https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/blob/master/Source/NSManagedObject%2BHYPPropertyMapper.m#L272-L319) which overcomes the performance issues of using `NSDateFormatter`.

We are trying to keep th

[2015-05-27 22:41] altyus commented on #66
Yes, I saw the nice little algorithm, I was just hoping to not have to fork it for our use case.  I guess the main point I was making with the issue was that it might be useful to spell that requirement out in the README.  I'm happy to submit a PR if it helps! Thanks for following up so quickly.

[2015-05-28 07:10] 3lvis commented on #66
I improved the README with some information on Dates.

Thanks a lot for reporting this, you rock! \m/

https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper#dates

[2015-05-28 07:10] #66 closed

[2015-05-29 00:49] altyus commented on #66
great thanks!

[2015-06-24 21:31] sononum opened #68 "Support IS8601 strings with milliseconds and timezone"
the iso8601 parser is not able to parse an iso8601 string that contains milliseconds and timezone, e.g. "2015-06-23T12:40:08.594+02:00"

[2015-06-24 21:37] 3lvis commented on #68
@sononum This is great, Ulrich! Would you mind sending a PR including some additional test cases?

[2015-06-24 21:37] 3lvis commented on #68
@sononum nevermind, just saw your PR :clap:

[2015-08-23 09:31] #68 closed

[2015-08-23 12:43] 3lvis opened #71 "Support for custom date formatter"
From time to time there will be the need for a person to use a custom date formatting. This could be added using an additional key adding the expected format.

[code]

[2015-08-23 13:12] jeffleeismyhero commented on #71
🆙

[2015-09-03 15:04] nbarnold01 opened #72 "hyp_dictionary doesn't parse NSDate properties to Strings"
I'm trying to use the `hype_dictionary` method to basically do the opposite of `hyp_fillWithDictionary`. It works well until it gets to `NSDate` objects, in which case it keeps the NSDate as an NSDate. That's not bad per-say, but it's a little inconvenient for me to have to changed those properties that are NSDates into formatted strings after they've been converted to the fields that the server i

[2015-09-03 15:06] nbarnold01 commented on #72
Perhaps this is related to #71.

[2015-09-03 16:55] 3lvis commented on #72
@nbarnold01 Hi Nathan, we were using that method to send it to the backend as a POST body. We were using AFNetworking and we didn't had this problem. Converting NSDate's when constructing the `hyp_dictionary` would be a nice feature, please go for it :wink:

Could you tell me what's your use case for this stringified NSDates?

[2015-09-04 05:49] nbarnold01 commented on #72
I'm working on a todo list as a side project and one of the requirements is a fairly robust offline mode. Two important fields for tasks are "completed_on" and "due_date". I'm using AFNetworking as well and I looked into how AFNetworking serializes NSDate into JSON. Mattt said that it's [outside AFNetworking's area of responsibility.](https://github.com/AFNetworking/AFNetworking/issues/2377)

[2015-09-04 06:44] 3lvis commented on #72
@nbarnold01 do it!

[2015-09-04 21:00] 3lvis commented on #72
Fixed on #73

[2015-09-04 21:00] #72 closed

[2015-09-10 13:46] 3lvis opened #74 "Crash for date that looks like this "2015-09-10T13:47:21.116+0000""

[2015-09-10 23:00] #74 closed

[2015-09-24 09:14] 3lvis opened #76 "Recursive JSON generation using `hyp_dictionary`"
Right now using `hyp_dictionary` only exports the main attributes of an entity item. It would be great if you could say

[code]

And this would print the User + it's company details.

[2015-09-24 09:17] 3lvis commented on #76
This might be useful for a hint on how to solve this:

https://github.com/hyperoslo/NSDictionary-HYPNestedAttributes

[2015-09-24 13:45] 3lvis opened #78 "Rename hyp_dictionary:something to - (NSDictionary *)hyp_dictionaryMappingRelationshipsToNestedAttributes:(BOOL)mapRelationshipsToNestedAttributes;"

[2015-09-24 13:46] 3lvis opened #79 "Improve unit tests for hyp_dictionary"

[2015-09-24 13:48] #78 closed

[2015-09-24 19:54] #76 closed

[2015-09-24 19:54] #79 closed

[2015-09-28 09:37] 3lvis opened #82 "`hyp_dictionary` not printing childs of childs"
Look into https://github.com/hyperoslo/Sync/pull/123 for more information.

Current output:

`hyp_dictionary`
[code]

It should also print the measures attached to each alcohol, baseline and fitness.

[2015-10-06 12:46] #82 closed

[2015-10-28 10:07] 3lvis opened #85 "Add support for unix timestamps"
:skull: :skull: :skull: :skull: :skull: :skull: :skull: :skull: :skull:

[2015-10-28 19:07] 3lvis opened #86 "Support camelCase"
Twitter:
`"created_at": Thu Nov 03 05:19;38 +0000 2011"`

Bing:
`"DateTime": "2011-10-29T09:35:00Z"`

Foursquare:
`"createdAt": 1320296464`

http://apigee.com/about/blog/technology/restful-api-design-what-about-attribute-names

[2015-11-02 14:39] markosankovic opened #87 "Description attribute remote prefix confusion on entity name with two words"
Hi Elvis,

From the documentation:

What if we have entity with name such as WeatherAlert. I would assume that description attribute is then weatherAlertDescription. Unfortunately, this is not the case - the mapping doesn't work. I realized that I'm making a mistake just after looking at the source code [here](https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/blob/master/Source/NSMana

[2015-11-02 15:09] 3lvis commented on #87
@markosankovic this sucks! Thanks a lot for reporting it. I'll look into it. :heart:

[2015-11-17 12:07] 3lvis opened #88 "Handling of miliseconds in date"
Crash when parsing `2015-11-13T09:36:13.184968Z`.

[2015-11-25 15:00] 3lvis opened #89 "Handle Unix timestamp"
1444577765000

14446496530000765

[2015-11-26 11:46] #85 closed

[2015-11-26 11:46] #89 closed

[2015-11-26 14:20] 3lvis opened #91 "Test valueForAttributeDescription"
We should test:

[code]

[2015-11-26 15:07] #88 closed

[2015-11-26 21:49] 3lvis opened #93 "Possible issue caused by using lowercase string"
Could be related to https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/issues/87

[code]

[2016-01-17 18:28] iroller opened #94 "ToMany relationship can be NSOrderedSet"
When checking for type of relationship it should check for both NSOrderedSet and NSSet. Otherwise ordered NSSets are being treated as ToOne relation and failing.

https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/blob/master/Source/NSManagedObject%2BHYPPropertyMapper.m#L81

[2016-01-17 18:55] 3lvis commented on #94
Good one. :)

[2016-01-18 15:43] 3lvis commented on #94
@iroller Btw, what's your use case for ordered relationships? I've never had to use them because most of the time I do the sorting using NSFetchedResultsController + NSSortDescriptors.

[2016-01-18 21:07] iroller commented on #94
It's a new app and that's the first time I'm using NSOrderedSet for some of the relationships. It's supposed to let me not to create and manage "internalOrder" for each item I need. But I didn't make use of it yet, working on things with higher priorities atm.

[2016-01-25 12:24] #94 closed

[2016-02-01 09:28] wh33ler opened #96 "NSDecimalNumber support"
Am I just overlooking something or does this Library not support NSDecimalNumber as Core Data Attribute Class? I would appreciate the support for this if it does not currently.

[2016-02-01 12:04] wh33ler commented on #96
#97 I fixed my issue with this pull request.

[2016-02-01 23:19] 3lvis commented on #96
Fixed on https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/pull/98

Thanks :beers:

[2016-02-01 23:19] #96 closed

[2016-02-01 23:20] 3lvis commented on #96
Btw, the `hyp_dictionary` version returns a NSDecimalNumber instead of a NSString to be consistent with what happens with integers and floats.

[2016-03-09 22:10] justinmakaila commented on #86
You could definitely solve this in Swift by using a protocol, and having developers override a `func customRemoteString() -> String` or something of the like, and provide a default implementation for `hyp_remoteString` to invoke `customRemoteString`

[2016-03-09 23:57] 3lvis commented on #86
Hi @justinmakaila,

Are you facing the same issue? What kind of library/framework are you using for your backend?

[2016-03-10 00:36] justinmakaila commented on #86
Hey,

I've actually rewritten most of this library, as well as Sync, in Swift to take advantage of the language features.

Our backend is a GraphQL implementation with camel cased property names.

I didn't want to use this implementation because it's opinionated as to what remote property names should look like, and it didn't provide a Carthage implementation ;)

Justin Makaila

Sent from
https://

[2016-03-10 08:28] 3lvis commented on #86
Hahah, good to now! We'll hopefully do the transition to Swift soon, and move over to also supporting camelCase, this days I'm working with MongoDB backed backends and getting camelCase support is important.

[2016-04-09 12:51] 3lvis commented on #86
Fixed by the fantastic @wainglaister 👏  Released on 3.5.0

https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/releases/tag/3.5.0

[2016-04-09 12:51] #86 closed

[2016-04-13 12:58] 3lvis commented on #71
Thanks to #102 this should be possible now with some additional work. It needs some documentation in the README, though.

[2016-05-06 20:34] bonebox opened #103 "hyp_dateFromISO8601String: Not converting to millisecond precision"
For example, when using Sync to map the string `2016-05-06T19:04:19.911Z` to NSDate, then using NSDateFormatter.stringFromDate to convert back to a string, I get `2016-05-06T19:04:19.000Z`.

[2016-05-06 21:12] 3lvis commented on #103
Damn, this should be straightforward though. Feel free to submit a PR.

[2016-05-07 00:30] bonebox commented on #103
Well, not _that_ straightforward ;).  The C functions you were using (`strptime` and `mktime` don't support millisecond precision, so I had to use `NSDateFormatter` instead.  #104

[2016-05-07 05:25] 3lvis commented on #103
@bonebox I guess you're right! I went for the C functions because using `NSDateFormatter` is *really* slow compared to doing it with C. Since dates are so common this change could increase the parsing time considerably. 😞

[2016-05-07 06:31] 3lvis commented on #103
Also the date parsing code is pretty bad documented. Sorry for that.

[2016-05-07 11:40] 3lvis commented on #103
Microsecond support is missing, although that's probably not critical.

https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/pull/105

[2016-05-07 13:07] bonebox commented on #103
Yeah, I figured that was why you weren't using it. I first tried something like your solution but couldn't get it to work like I wanted. Anyway, thanks for updating it!

[2016-05-07 13:07] #103 closed

[2016-05-07 18:54] 3lvis commented on #64
Not critical anymore since you can store arrays and dictionaries as data and unpack them as needed.

https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper#array

[2016-05-07 18:54] #64 closed

[2016-05-09 10:25] alladinian opened #106 "NSLog & printf leftovers (in NSDate+HYPPropertyMapper.m)"
Hi there,
Just updated and saw a lot of noise caused by `NSLog` and `printf`s in 9db092472833f8b8821a19091509a62bc316d394  ( I suppose they were meant for quick debug but somehow left on the commit).
I guess could go ahead and remove them and do a PR but thought to ask first :)

Thanx,
Vasilis

[2016-05-09 10:34] 3lvis commented on #106
Nooo, this should go away, sorry for that.

[2016-05-09 11:25] alladinian commented on #106
Fixed on 2245dcc26fb19810c398c3d432b5048c882b4b41

[2016-05-09 11:25] #106 closed

[2016-05-09 11:38] 3lvis commented on #106
Great catch, thanks!

https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/releases/tag/3.6.2

[2016-05-10 14:04] 3lvis opened #109 "Add unit test for JSON generation with relationships that use id instead of remoteID"

[2016-07-27 11:02] cflorion commented on #93
My app crashes systematically on that line.

I am trying to export my core data objects to json. But after looping for a while my app crashes on that line.

I have just started using HYPPropertyMapper and I have a question: Is is a drop-in solution ? I mean it seams that it is doing an infinite loop. Is this possible ?

Thanks :)

[2016-07-27 11:09] 3lvis commented on #93
@cflorion Hi! Would you mind sharing your Core Data model? I would have a look :)

[2016-07-27 11:12] cflorion commented on #93
Of course! Is it possible via email ? :)

[2016-07-27 11:24] cflorion commented on #93
Anyway, here it is https://www.dropbox.com/s/01xijc5pdbjii17/Datamodel.xcdatamodel.zip?dl=1
Could you tell me once you've downloaded it so I can remove it please ? Thanks a lot! ;)

[2016-07-27 11:32] 3lvis commented on #93
Removed!

[2016-07-27 22:20] 3lvis commented on #93
@cflorion That's easily the biggest core data model I've ever seen. Are you having problems with an specific entity? (or relationship?)

[2016-07-28 14:06] cflorion commented on #93
Hi @3lvis
Thanks for a quick reply ;)
I know, the data model is quite big...
When i use HYPPropertyMapperRelationshipTypeNested or HYPPropertyMapperRelationshipTypeArray I get a crash, but no crash with HYPPropertyMapperRelationshipTypeNone.

I am trying to figure out where the problem could come from.
As a first step I put an NSLog in the file "NSManagedObject+HYPPropertyMapper", in the for loop

[2016-08-19 12:32] #71 closed

[2016-08-25 15:51] Sorix opened #112 "Crash (indefinite cycle)"
HYPPropertyMapper always crashes when I try to add same object to parent object and child relationship has same object inside.

![coredata](https://cloud.githubusercontent.com/assets/5610904/17976058/eb08fa1c-6afc-11e6-89dc-0dd94a016bf4.png)

I've created new example app where you can easily crash HYPPropertyMapper, I think that will be much better to understand.

[Project: hypbug.zip](https://git

[2016-08-26 04:58] 3lvis commented on #112
Thanks! I was able to reproduce. I'll check what's going on.

[2016-08-26 05:23] 3lvis commented on #112
Not to the point, but your entities should probably be like this, since you can access to the owner of a task through the tasklist.

[code]

<img width="257" alt="screen shot 2016-08-26 at 07 22 03" src="https://cloud.githubusercontent.com/assets/1088217/17994995/f379bf9a-6b5d-11e6-94ef-a55040aa5188.png">

[2016-08-26 05:41] 3lvis commented on #112
I'm afraid that this is not a bug per se, but that's the intended behavior.

Each entity will print all it's items and related objects, so in reality the result is more like this, generating a recursive result:

[code]

[2016-08-26 05:43] 3lvis commented on #112
I think the current result makes a lot of sense. Do you have any other suggestions on how this could be fixed?

Meanwhile I would suggest to maybe change a bit your model so this recursion doesn't happen. If you want to access the owner from a task it could also be done like this:

[code]

<img width="257" alt="screen shot 2016-08-26 at 07 22 03" src="https://cloud.githubusercontent.com/assets/108

[2016-08-26 08:43] Sorix commented on #112
I understand why it is intended result, but that's rather big problem.

1. I can't use task.taskList.owner because task for example may have own owner and may have other owner. As temporary solution I'm using duplicating of `Owner` (with other ID) in my own app, but that's not best solution.
2. That was an example, also I using `Tag` entity for example to tag task and taskList, but I can't do beca

[2016-08-26 09:29] 3lvis commented on #112
Thanks a lot for following up on this. I think the "automatic" way is too magical and makes a few assumptions that might not be correct in most cases. Meanwhile the manual way would handle this pretty well.

Just to confirm, would the simpler way fix your issue 100%, or would just help?

What's your ideal scenario? What time of backend are you using? Is it Rails?

Thanks again for your answers, th

[2016-08-26 14:42] Sorix commented on #112
Sorry for a long answer time, I've tested a little. Yes if you can add a key to userinfo (like `hyper.ignore = true`) that will prohibit exporting variable or relationship to JSON that will solve my problem. I think it will solve not only my problem, any developer may issue such problem if using more complicated Core Data schemes.

I think anyway it will be good option if you don't want to export

[2016-08-31 09:03] smartjx opened #114 "Date are not saved to Date type"
I have update my pods to the latest sync version.
But my time data are not saved to core data using Date type.
My test date format is  UpdateTime=2016-04-22T14:54:36.613.

I'm now changing all my date type in coredata to string. Please let me know if there are any fixes,Thank you.

[2016-09-22 17:28] #112 closed

[2016-09-22 17:29] 3lvis commented on #114
https://github.com/3lvis/DateParser/issues/4

[2016-09-22 17:29] #114 closed

[2016-09-25 21:47] 3lvis opened #121 "Binary Data attributes getting ignored"
# Core Data Model

<img width="611" alt="screen shot 2016-09-25 at 23 47 12" src="https://cloud.githubusercontent.com/assets/1088217/18818471/695b249a-837a-11e6-9108-47dc45850d4e.png">
# JSON

[code]

[2016-09-28 23:52] Sorix opened #123 "hyper.nonExportable is not working for attributes"
It seems that `hyper.nonExportable` works only for relationships, so it can't be used for attributes. If you have added that key to whole framework it maybe very unclear that it works only for relationships.

Anyway that key will be very useful for attributes, e.g. if you don't want to export some secrets or binary data.

I don't know if it is expected behavior or bug, so I've posted example proje

[2016-09-29 06:16] 3lvis commented on #123
Hi @Sorix!

I only implemented it for relationships but I see how it could be useful for attributes as well.

Nice suggestion. 👍

[2016-10-06 09:15] RolandasRazma opened #126 "[Feature Request] hyp_dictionary only for changedValues"
It would be good to have only changed values.

Pseudocode:

[code]

there is bug in this implementation - it doesn't handle relationships and custom keys.

I guess correct place for such change would be in
`-[NSManagedObject hyp_dictionaryWithDateFormatter:parent:usingRelationshipType:]`

Best change would be to add "forLocalKeys:" in `-[NSManagedObject hyp_dictionaryWithDateFormatter:parent:using

[2016-10-06 09:24] 3lvis commented on #126
@RolandasRazma How does it know what changed, though?

Also, can you provide some use cases?

[2016-10-06 09:26] RolandasRazma commented on #126
@3lvis There is method -[NSManagedObject changedValues] that returns changed keys/values.

Use case: change to server only changes (PATCH) instead of whole object

[2016-10-06 09:27] 3lvis commented on #126
@RolandasRazma that's only useful before you save, once you save it probably doesn't work, right?

[2016-10-06 09:28] RolandasRazma commented on #126
@3lvis right. Whats why I guess its better to add 2 new methods
-[NSManagedObject hyp_dictionaryWithDateFormatter:parent:usingRelationshipType:forLocalKeys:]
and
-[NSManagedObject hyp_dictionaryWithDateFormatter:parent:usingRelationshipType:forRemoteKeys:]

[2016-10-06 09:30] RolandasRazma commented on #126
actually just realised you don't need second method as you can just filter

[2016-10-06 09:40] 3lvis commented on #126
Ohhh, I see.

I'm more for just keeping the simple solution that solves most of the cases than adding something that might make the codebase harder to maintain.

If there's something that really should be excluded you can always use the `hyper.nonExportable` attribute.

More info here:
https://github.com/SyncDB/NSManagedObject-HYPPropertyMapper/blob/master/README.md#excluding

What do you think? W

[2016-10-06 10:16] RolandasRazma commented on #126
hi, `hyper.nonExportable` is not the same, but you right about code complexity. I guess its your choice in the end. Feel free to close issues.

Attaching patch just in case

[patch.diff.zip](https://github.com/SyncDB/NSManagedObject-HYPPropertyMapper/files/513422/patch.diff.zip)

[2016-10-06 10:23] 3lvis commented on #126
I was mainly checking on how critical this is for you. Very critical, or nice to have?

[2016-10-06 10:24] RolandasRazma commented on #126
Nothing is critical :) I cal always workaround it or simply fork/patch

[2016-10-06 10:41] RolandasRazma opened #128 "hyp_dictionary endless loop in one to many relationship"
mo.hyp_dictionary(using: .array) loops endlessly if object have relationship. I guess it makes sense, but I think hyp_dictionary shouldn't go deeper than 1 level

Attaching backtrace

[bt.txt](https://github.com/SyncDB/NSManagedObject-HYPPropertyMapper/files/513485/bt.txt)

[2016-10-06 12:57] 3lvis commented on #128
In some cases this might be expected behavior.

Maybe you can relate to this issue.

https://github.com/SyncDB/NSManagedObject-HYPPropertyMapper/issues/112

Let me know if this is something else.

I could double check if you could provide an screenshot of your Core Data model and an example of your JSON file.

[2016-10-21 08:46] padlocked17 opened #129 "JSON / Attribute Mapping Trouble"
I have been working on getting Sync up and running and I've run into several issues I'm trying to sort through.  The first one involves attribute mapping with the JSON I've got below:

[code]

I've added "hyper.remoteKey : custom_meta.edit_last" to the User Info fields on my CoreData attribute in order to attempt and grab that value, but I'm thinking the fact the value is enclosed in an array is c

[2016-10-21 08:50] marthinfreij commented on #129
Key paths doesn't work on arrays/collections. I haven't tried it, but Collection Operators might work.

https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/KeyValueCoding/Articles/CollectionOperators.html#//apple_ref/doc/uid/20002176-BAJEAIEE

[2016-10-21 08:50] 3lvis commented on #129
@padlocked17 This is correct, the mapping that you're applying works for dictionaries. Does your arrays always have one item?

[2016-10-21 08:55] padlocked17 commented on #129
@marthinfreij I will look into the Collection Operators and see if that might do the trick.

@3lvis 9 out of 10 times it will hold a single value.  There are exceptions on certain fields where the "custom_meta" dictionary  would contain an array of dictionaries to serve up some data.  Do you have suggestions for either scenario?

[2016-10-21 13:27] #123 closed

[2016-10-21 13:31] 3lvis commented on #123
# Available on [5.0.1](https://github.com/SyncDB/SYNCPropertyMapper/releases/tag/5.0.1) 💥

[2016-10-21 22:44] achirkof commented on #86
Hi!
I see that `camelCase` is supported but can't realise how to use it. By default I get `snake_case` result doing
[code]
My Core Data entity names are `camelCase`.
I also have MongoDB backend and data model described by `camelCase` names.

[2016-10-22 06:04] padlocked17 commented on #129
Unless I'm missing something, Collection Operators don't appear to provide a solution.  Throwing "custom_meta.edit_last[0]" into the hyper.RemoteKey doesn't seem to pull it either.  Any ideas on how I could map into that array and grab the values?

[2016-10-22 09:21] 3lvis commented on #129
@padlocked17 maybe you would like to consider to either pre-process your JSON so it takes a value from the array and makes it a dictionary instead or you could also store your array as NSData then in your app you could deserialize it.

[2016-10-22 09:23] 3lvis commented on #86
Hi @achirkof,

At the moment camelCase is supported for `hyp_fill` not to generate the dictionary.

[2016-10-22 09:24] 3lvis commented on #86
Sounds like a very useful feature, though. I would go for:

[code]

Feel free to submit a PR :)

[2016-10-22 11:02] marthinfreij commented on #129
@padlocked17 using @min or @max to aggregate the array to a single value might work in this case, but it's a really ugly solution. keyPaths don't support subscripting, so pre-processing is probably the best way forward.

[2016-10-22 17:32] achirkof commented on #86
It's written on Objective-C, but I'm writing only Swift now. Even read Obj-c code is hard to me. Sorry :(

[2016-10-22 17:47] 3lvis commented on #86
No problem :)

[2016-10-22 17:47] 3lvis commented on #86
I'll try to take a look as soon as I have some time.

[2016-10-22 18:47] achirkof commented on #86
And one more comment about converting to JSON. Result JSON is not valid. Now I'm trying to find all mistakes.
Here the list:

- each JSON line finished by `;` but should `,`
- key-value couples writes in format `"key" = "value"` but should `"key": "value"`. For example `"_id" = DGzSEUYfl02nUwKQr;` but should be `"_id": DGzSEUYfl02nUwKQr,` and it true only for related objects
- each member of array

[2016-10-22 18:56] 3lvis commented on #86
@achirkof I believe the JSON is correct, you're just using the wrong way of print it.

To visualize exported JSON don't use `print(json)`. Instead use the pretty print version.

[code]

[2016-10-22 18:58] 3lvis commented on #86
Also use this version instead, the default one adds the `_attributes` part, which is optimized for Ruby on Rails.

[code]

[2016-10-22 18:59] 3lvis commented on #86
You can find more on the README.

https://github.com/SyncDB/SYNCPropertyMapper#relationships

[2016-10-22 19:10] achirkof commented on #86
Oh.. yes. I'm sorry for wasting your time. Everything is correct if use use your advices. Thank you very much!

[2016-10-22 19:26] 3lvis commented on #129
@padlocked17 This should be a good workaround for your issue.

https://github.com/SyncDB/SYNCPropertyMapper#dealing-with-bad-apis

[2016-10-22 19:28] #129 closed

[2016-10-23 14:31] 3lvis opened #134 "Support for date formatting or add date format: 2016-10-10 07:00:00"
Need support for date format: "2016-10-10 07:00:00"

Could you add ability to assign our own date formatter, or could you add the above formatting?

https://github.com/SyncDB/Sync/issues/300

[2016-10-23 15:00] 3lvis commented on #134
Fixed here https://github.com/SyncDB/SYNCPropertyMapper/pull/135

[2016-10-23 15:00] #134 closed

[2016-10-27 08:59] achirkof commented on #86
Hi @3lvis !
Did you find solution how to use `camelCase` for exporting core data model to JSON? I checked a lot of other solutions which provide similar functionality, but did'n find better then SYNCPropertyMapper.

[2016-10-27 09:01] 3lvis opened #137 "Support for exporting using camelCase"
[code]

Should default to snakeCase.

[code]

[2016-10-27 09:02] 3lvis commented on #86
@achirkof Made an issue for it. I'll give later, should be straightforward.

https://github.com/SyncDB/SYNCPropertyMapper/issues/137

[2016-11-01 06:07] 3lvis commented on #137
Fixed in #138

[2016-11-01 06:07] #137 closed

[2016-11-01 06:08] 3lvis commented on #86
Done! 💥

[2016-11-01 06:10] 3lvis commented on #126
Closing this for now since the adding this functionality makes the codebase slightly more complex and adds logic when the original method is enough for most cases.

Please just comment in this issue if this is needed for you as well. Let's reconsider if there are more requests.

[2016-11-01 06:10] #126 closed

[2016-11-01 08:16] achirkof commented on #86
Awesome!!! :tada:
Thank you!

[2016-11-04 10:53] achirkof commented on #137
Hello @3lvis !

Unfortunately I can't use new property:
`let entityJSON = workout?.hyp_dictionary(using: .camelCase)` Xcode complains `Type 'SYNCPropertyMapperRelationshipType' has no member 'camelCase'`

And how I can combine two properties `.array` and `.camelCase` in same time?

[2016-11-04 10:53] achirkof commented on #137
Hello @3lvis !

Unfortunately I can't use new property:
`let entityJSON = workout?.hyp_dictionary(using: .camelCase)` Xcode complains `Type 'SYNCPropertyMapperRelationshipType' has no member 'camelCase'`

And how I can combine two properties `.array` and `.camelCase` in same time?

[2016-11-04 10:57] 3lvis commented on #137
@achirkof That's because Swift's translation is more like this `user.hyp_dictionary(.camelCase)`

[2016-11-04 10:58] 3lvis commented on #137
Combining camelCase and array is not possible at the moment but should be simple to add.

[2016-11-04 10:59] achirkof commented on #137
In this case Xcode complains `Argument labels '(_:)' do not match any available overloads`

[2016-11-04 11:42] 3lvis commented on #137
Weird here it works.

https://github.com/SyncDB/SYNCPropertyMapper/blob/master/Tests/SYNCPropertyMapper/DictionaryTests.swift#L57

[2016-11-04 12:12] achirkof commented on #137
`hyp_dictionary` uses `SYNCPropertyMapperRelationshipType` but it's contains only
[code]
or in swift
[code]
I think this a cause why Xcode complains. There is no `.camelCase` or `.snakeCase`. Unfortunately I have now knowledge in Obj-C and can only imagine.

[2016-11-04 12:16] 3lvis commented on #137
@achirkof It's only available in `master` not on CocoaPods. Maybe that's the problem.

[2016-11-04 12:18] achirkof commented on #137
Oh.. I just upgraded my pod to new version and suppose it is should be ok. Ok, I have use `master` branch from here and not cocoapod.

[2016-11-04 12:25] 3lvis commented on #137
@achirkof For now at least. I wanted feedback on the API before making a new release.

[2016-11-04 12:30] achirkof commented on #137
Here the result:
[code]
As you can see properties like `workoutName`, `exerciseName` etc are not `camelCase`ed

[2016-11-04 12:35] achirkof commented on #137
For `camelCase`
[code]
[code]
It's OK for main entity, but KO for related.

[2016-11-04 12:40] achirkof commented on #137
Hm... strange... after some retests it ok for both cases except related entities.

[2016-11-04 12:55] achirkof commented on #137
@3lvis I'm sorry for asking you but it would be great to be able combine `camelCase` and `.array` properties and also affect case to related entity. Should I create issue?

[2016-11-04 12:57] 3lvis commented on #137
@achirkof please do!

[2016-11-04 13:04] achirkof opened #139 "hyp_dictionary(.camelCase) not affected to related entity"
[code]
[code]
Related entities `workout` ->`workoutExercises` and `workout` ->`workoutExercises`->`exerciseSets` are `snakeCase`ed

[2016-11-04 13:05] achirkof commented on #137
For related entities issue #139

[2016-11-04 13:18] achirkof opened #140 "hyp_dictionary combine case and type for related attributes"
It would be great to combine several attributes, for example `case` for entities and `type` for relation in one expression
[code]
to
[code]

[2016-11-04 13:19] achirkof commented on #137
For combine several properties #140

[2016-11-13 16:35] #139 closed

[2016-11-13 16:42] 3lvis commented on #128
Closing this for lack of more information. I really think this is related to #112 and can be solved by adding `hyper.nonExportable`.

[2016-11-13 16:42] #128 closed

[2016-11-13 16:42] 3lvis commented on #44
Some of this could be done using Deep mapping. Closing.

https://github.com/SyncDB/SYNCPropertyMapper#deep-mapping

[2016-11-13 16:42] #44 closed

[2016-11-13 16:45] 3lvis commented on #39
This is still an issue. I'm going to close it since it's just a convenience, we don't officially support parsing strings as numbers.

[2016-11-13 16:45] #39 closed

[2016-11-13 21:02] 3lvis commented on #87
Should be working fine.

[2016-11-13 21:02] #87 closed

[2016-11-13 21:02] 3lvis commented on #93
Should be working fine, tried on master and everything is fine.

[2016-11-13 21:02] #93 closed

[2016-11-13 21:07] 3lvis commented on #109
Should be working fine.

[2016-11-13 21:07] #109 closed

[2016-11-13 21:07] 3lvis commented on #91
Gonna skip this until we find issues. Trying to keep issues at a minimum.

[2016-11-13 21:07] #91 closed

[2016-11-13 21:12] 3lvis commented on #121
There's a unit test named "testBug121". This is working fine.

[2016-11-13 21:12] #121 closed

[2016-11-29 22:04] 3lvis commented on #140
Looks like there are a few issues https://github.com/SyncDB/SYNCPropertyMapper/pull/141#issuecomment-261780325

[2016-11-29 22:37] 3lvis commented on #140
The mapping for to-many relationships was always snakeCase.

[2016-11-29 22:39] #140 closed

[2016-12-05 02:41] enhancient opened #144 "Supporting a non-ISO compliant date format using a ValueTransformer"
I have a date format I need to support as follows:

2016/11/21 14:33:59 -0500

It is not ISO compliant, so I wrote a ValueTransformer as per:
https://github.com/SyncDB/SYNCPropertyMapper#dealing-with-bad-apis

I converted the date string to an ISO 8601 compliant string in my ValueTransformer by setting hyper.valueTransformer user info key on the attribute to my ValueTransformer, The transformer it

[2016-12-05 09:28] 3lvis commented on #144
Hi @enhancient,

Thanks for reaching out. Would it be possible that you can share a sample code or project of this with me? I need to be able to reproduce it in order to be able to fix it.

[2016-12-06 11:51] enhancient commented on #144
Hi @3lvis,

Thanks for your response. I've attached sample JSON, my ValueTransformer and Core Data model.

Hopefully that's enough to help you reproduce.

Thanks for looking into it!

[RavIt.xcdatamodel.zip](https://github.com/SyncDB/SYNCPropertyMapper/files/633736/RavIt.xcdatamodel.zip)
[TransformerRavelryDateStringToISO8601.swift.zip](https://github.com/SyncDB/SYNCPropertyMapper/files/633741/Tra

[2016-12-15 13:37] zimumba opened #145 "NSManagedObject+HYPPropertyMapperHelpers. Looks like transformer is using incorrect value"
Use case:
- Create f. e. Date type property in managed object.
- Set the hyper.valueTransformer key
- transformer is using not the original value, but ‘nil’ because of checking:
if ([remoteValue isKindOfClass:attributedClass]) {
       value = remoteValue;
   }

I believe that

[code]

should be changed to

[code]

[2016-12-15 13:57] zimumba commented on #145
I probably didn't understand the original purpose of customTransformer, bit it works for me only after these changes:
- (id)valueForAttributeDescriptionSwizzled:(NSAttributeDescription *)attributeDescription
                          usingRemoteValue:(id)remoteValue {
    id value;

    Class attributedClass = NSClassFromString([attributeDescription attributeValueClassName]);

    if ([remoteValue

[2016-12-19 01:37] padlocked17 commented on #129
Do you have any examples of the usage of this in conjunction with the Sync framework?  Being that the JSON is simply passed into the "changes" function, I'm not sure where I would actually utilize this at.  I've got the transformer class built and the Core data attribute added, but I'm not sure how to incorporate the `ValueTransformer.setValueTransformer(BadAPIValueTransformer(), forName: NSValueT

[2016-12-19 05:09] 3lvis commented on #129
Hi @padlocked17, just put the `setValueTransformer` call before calling `Sync.changes`. That should work. Let me know otherwise :)

[2017-01-15 00:58] 3lvis opened #146 "f2f_url not converted properly to camelCase"
<img width="1145" alt="screen shot 2017-01-15 at 01 58 17" src="https://cloud.githubusercontent.com/assets/1088217/21959413/32f09f40-dac6-11e6-81c2-89703b257f46.png">

[2017-02-04 03:55] mrDyos opened #147 "DateParser doesn't work correctly, if the date nearly 1/1/1970."
1/1/1970 15:00 of milliseconds is 54000000. But length of 54000000 less than the length of 1441843200, therefore 54000000 not converted into seconds and the result will 09/18/1971 00:00.

I change function (NSDate *)dateFromUnixTimestampString:(NSString *)unixTimestamp:

[code]

[2017-02-04 07:58] 3lvis commented on #147
I think the current implementation is correct. I used [this service](http://www.epochconverter.com/) to convert `54000000` and I'm getting exactly what the current implementation gives.

[code]

<img width="677" alt="screen shot 2017-02-04 at 8 56 35 am" src="https://cloud.githubusercontent.com/assets/1088217/22616897/e6945ba8-eab7-11e6-9bd0-6810467587d8.png">

[2017-02-04 10:49] mrDyos commented on #147
If this number of seconds it is the correct result.
[code]

[This service](http://www.epochconverter.com) works with second.
In my system all the time is stored in milliseconds.
When the datetime is 1970-1-1 15:00 (in milliseconds 54000000) your code does not convert from milliseconds to seconds, and result is 1971-09-18 00:00:00 +0000 - not right
When the datetime is 2017-2-4 15:00 (in millisecon

[2017-03-13 15:06] pgawlowski opened #148 "Deep mapping + remote key problems"
Let's assume that I'm using deep mapping

[code]

so field company got` User.Info `like` hyper.remote_key = company.name`

Now I'm trying to get back dictionary with structure like above. That's why I introduced ValueTransformer

However using
`let dict = item.hyp_dictionary() `
will return not a company key but company.name key.

My target is to have:
- remote key like company.name
- dictionary w

[2017-03-14 08:41] 3lvis commented on #148
Hi @pgawlowski!

I'm glad you got deep mapping working for filling with JSON. Would be awesome to have reversed deep mapping working so you can have what you're asking for. Sadly is a missing feature, if you feel like working on it I would be glad to assist in our Gitter chat. https://gitter.im/SyncDB/SYNCPropertyMapper

[2017-03-17 15:02] pgawlowski commented on #148
@3lvis why not :) SyncDB seems to me as pretty handy solution. Will try to work on it in the meantime.

Got also additional question. While I was trying to fetch entity with relationship, I'm also receiving different key-mapping.

E.x. for product it's going to be product_attributes. Is it possible to map it back just as "product". What's the purpose of this nested attribute key?

[2017-03-17 15:37] 3lvis commented on #148
@pgawlowski we used that to match what Ruby supports, to get normal style JSON you can use

[code]

[2017-03-20 09:00] pgawlowski commented on #148
@3lvis - ok, remote mapping seems to be ok now. However update problems occurred.
I've got `code` attributed marked as `hyper.isPrimaryKey = true`
I'm fetching entry correctly. Changing quantity value, then I perform:
`Sync.changes` with `.Insert .Update`

The effect is like this:
- original entry loses relationship to `product` object (To-One, delete rule - No Action)
- duplicated entry with same

[2017-03-20 11:08] 3lvis commented on #148
@pgawlowski should we close this issue then?

[2017-03-20 11:50] #148 closed

[2017-07-19 12:09] #144 closed

[2017-07-19 12:09] #145 closed

[2017-07-19 12:09] #146 closed

[2017-07-19 12:09] #147 closed